

.func {
  padding: 0.4em;
  padding-left: 1.2em;
  margin-bottom: 0.4em;
  background-color: rgba(1,1,1, 0.2);
}
.func h5,
.func h6 {
  padding: 0px;
  margin: 0px;
  font-size: 100%;
}
.func ol {
  padding: 0px;
  margin: 0px;
}
.func p {
  padding: 0px;
  margin: 0px;
}

.ref {
  padding-right: 14vw;
}

.docsidebar {
  float: right;
  border: 1px solid grey;
  position: fixed;
  right: 0px;
  top: 17vh;
  height: 80vh;
  width: 18vw;
  overflow: scroll;
  overflow-x: hidden;
}


